{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}卢拉鲁拉 - {{ user.username }} {% endblock %}

{% block page_content %}
<div class="profile-header">
    <img class="img-circle" src="{{ url_for('avatar', text = user.username, width=100) }}">
    <h1>{{ user.username }}</h1>
    {% if user.location or user.name %}
    <p>
        {% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}
            <a href="http://maps.google.com/?q={{ user.location }}">
                {{ user.location }}
            </a>
        {% endif %}
    </p>
    {% endif %}
    {% if current_user.is_adminstrator() %}
    <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    <p>账号创建于 {{ moment(user.member_since).format('L') }}</p>
    <p>在{{ moment(user.last_seen).fromNow() }}来过</p>
    <p>
        {% if current_user.can(Permission.FOLLOW) and user != current_user %}
            {% if not current_user.is_following(user) %}
                <a href="{{ url_for('.follow', username=user.username) }}"
                class="btn btn-primary">关注</a>
            {% else %}
                <a href="{{ url_for('.unfollow', username=user.username) }}"
                class="btn btn-default">取消关注</a>
            {% endif %}
        {% endif %}
        <a href="{{ url_for('.followers', username=user.username) }}">
            关注者: <span class="badge">{{ user.followers.count() - 1 }}</span>
        </a>
        <a href="{{ url_for('.followed', username=user.username) }}">
            关注了: <span class="badge">{{ user.followed.count() - 1 }}</span>
        </a>
        {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
            | <span class="label label-default">关注了你</span>
        {% endif %}
    </p>
    {% if user == current_user %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
        编辑我的账号
        </a>
    {% endif %}
    {% if current_user.is_adminstrator() %}
        <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id)}}">
        编辑用户信息 [Admin]
        </a>
    {% endif %}
    <h3>Posts by {{ user.username }}</h3>
    {% include'_post.html' %}
</div>
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endblock %}